@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0A0A0A;
  color: #FFFFFF;
}

body {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
